.popup {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popup__container {
  position: relative;
  top: 195px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 34px 36px 36.51px;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 330px;
  box-sizing: border-box;
}

.popup__container-confirmation {
  height: 100%;
  max-height: 210px;
}

.popup-confirmation {
  width: 100%;
  height: 100%;
}

.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.popup__close-button:hover {
  opacity: 60%;
}

.popup__title {
  margin: 0 0 54px;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  color: #000000;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 100%;
}

.popup__input {
  width: 100%;
  height: 100%;
  max-height: 27.26px;
  border: none;
  border-bottom: 1px solid #000;
}

.popup__input:nth-child(2) {
  margin: 29.74px 0 48px;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__form-error {
  display: none;
  color: #ff0000;
  font-size: 12px;
  line-height: 14.52px;
  width: 100%;
  margin: 0;
}

.popup__error_visible {
  display: block;
}

.popup__button {
  width: 100%;
  height: 100%;
  max-height: 50.15px;
  background-color: #000;
  border-radius: 2px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21.78px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__button_disabled {
  color: rgba(129, 129, 129, 1);
  border: 1px solid rgba(129, 129, 129, 1);
  background-color: #fff;
  cursor: default;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup-view-image__image-title-container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 0;
}

.popup-view-image__image {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
}

.popup-view-image__title {
  color: #fff;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: 10px 0 0;
}

@media screen and (max-width: 720px) {
  .popup__close-button {
    top: -40px;
    right: 5px;
    width: 22px;
    height: 22px;
  }

  .popup__container {
    top: 136px;
    max-width: 282px;
    max-height: 322px;
  }
}
