.profile {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px;
  gap: 30px;
}

.profile__picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__picture-container:hover .profile__image {
  opacity: 40%;
  cursor: pointer;
}

.profile__picture-container:hover .profile__edit-picture {
  visibility: visible;
  cursor: pointer;
}

.profile__image {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile__edit-picture {
  visibility: hidden;
  position: absolute;
  z-index: 0;
}

.profile__info {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.profile__info-wrapper {
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.profile__title {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.profile__edit-button {
  background-image: url(../images/icon__edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin: 15px 0 0;
  padding: 0;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__subtitle {
  padding: 16px 0 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin: 0;
}

.profile__add-button {
  background-image: url(../images/icon__add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 800px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 5px 0 0;
  }

  .profile__subtitle {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
  }
}
